$font-mono: 'Roboto Mono', monospace;
$font-text: 'Roboto', sans-serif;

$font-w-reg: 400;
$font-w-bold: 700;

$color-bg-lt: #ffffff;
$color-bg-mid-lt: #e4f0f5;
$color-bg-mid: #83d0f2;
$color-bg-mid-dk: #3f87a6;
$color-bg-dk: #222222;
$color-txt-lt: #ffffff;
$color-txt: #222222;

$color-info-txt: #004085;
$color-info-bg: #cce5ff;
$color-info-bdr: #b8daff;

$size-pad-sm: 2px;
$size-pad-mid: 4px;
$size-pad-lg: 10px;

$size-txt-sm: 12px;
$size-txt-mid: 14px;
$size-txt-mid-lg: 18px;
$size-txt-lg: 28px;
