$font-mono: 'Roboto Mono', monospace;
$font-text: 'Roboto', sans-serif;

$font-w-reg: 400;
$font-w-bold: 700;

$color-bg-lt: #ffffff;
$color-bg-mid-lt: #4faaff;
$color-bg-mid: #4faaff;
$color-bg-mid-dk: #4faaff;
$color-bg-dk: #222222;
$color-txt-lt: #ffffff;
$color-txt: #222222;

$size-pad-sm: 2px;
$size-pad-lg: 10px;

$size-txt-sm: 14px;
$size-txt-lg: 28px;
